---
import Layout from "../layouts/Layout.astro";
import TeamCard from "../components/Team-Card.astro";
import AboutBlock from "../components/AboutBlock.astro";

const people = [
  {
    name: "Trevor Convirs",
    role: "Owner",
    imageUrl: "/trevorConvirs.jpg",
    twitterUrl: "https://twitter.com/TrevorConvirs",
  },
];

const aboutBlurbs = [
  {
    title: "Purpose",
    blurb: `Technical Coffee Logic aims to code and develop apps to the glory of Christ.
                     As a Christian company, Technical Coffee Logic believes that it can design and 
                     bring the best ideas to fruition, because the company knows that all things have 
                     been created by Christ and are for Christ. Furthermore Technical Coffee Logic recognize that a man's 
                     chief end is to glorify God and enjoy Him forever, that means Christians should be able to 
                     enjoy all things to a better degree than unbelievers. Therefore this would also 
                     apply to software, web, and app development. Technical Coffee Logic desires that Christ's reign is 
                     seen through code and to make a superb product, since a Christian's motivation is Christ and His Kingdom.`,
  },
  {
    title: "Mission",
    blurb: `To turn the world upside down for Christ with each product that is developed 
                    "These men who have turned the world upside down have come here also” — Acts 17:6`,
  },
  {
    title: "Name",
    blurb: `Technical coffee logic is that burst of inspiration and logic that comes as you drink a cup of coffee. As a developer there is nothing
                   greater than when you can't figure out an issue and you take a big swig of coffee then that technical logic kicks in.`,
  },
];
---

<Layout title="About">
  <main class=" mt-10 sm:mt-0">
    <div
      class="max-w-7xl mx-auto py-12 px-4 text-center sm:px-6 lg:px-8 lg:py-24"
    >
      <div class="space-y-12">
        <div class="space-y-5 sm:mx-auto sm:max-w-xl sm:space-y-4 lg:max-w-5xl">
          <h1
            class="text-3xl font-bold tracking-tight sm:text-4xl sm:tracking-tight text-green-400"
          >
            About
          </h1>
          <p class="text-xl text-gray-500">Technical Coffee Logic, LLC</p>
        </div>
        <ul
          role="list"
          class=" flex justify-center"
        >
          {
            people.map((person) => (
              <TeamCard
                name={person.name}
                role={person.role}
                src={person.imageUrl}
                twitter={person.twitterUrl}
              />
            ))
          }
        </ul>
      </div>
    </div>
    <ul>
      {
        aboutBlurbs.map((blurb) => (
          <AboutBlock title={blurb.title} blurb={blurb.blurb} />
        ))
      }
    </ul>
</main>
</Layout>
